<!-- <div>
<div class="text-layout">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor voluptatem numquam quam unde provident repellendus deleniti expedita et autem, dolores, vel iure itaque ducimus impedit soluta veniam, quos at voluptatum.</div>
<br><br>
<button pButton > {{'hola' | uppercase}} </button>
<br><br> -->

<!-- UNA FORMA DE APLICAR LOS BOTONES DE PRIME-NG -->
<!-- <button pButton pRipple label="Cambiar nombre" class="p-button-success"></button>  -->

<!-- OTRA FORMA DE APLICAR LOS BOTONES DE PRIME-NG -->
<!-- <p-button (onClick)="mostrarNombre()" label="Cambiar nombre" styleClass="p-button-help" icon="pi pi-heart-fill" iconPos="right"></p-button>

<br><br>


<p-card [header]="nombre | titlecase" subheader="LALALAL">
    <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
    </p>
</p-card>
</div> -->

<app-menu></app-menu>
<router-outlet></router-outlet>